@font-face {
    font-family:IBMPlexMono ; /* fetched from the downloaded fonts */
    src: url(fonts/IBMPlexMono-Bold.ttf);
}

body{
    background-color: grey;
   
}
h1{
    color: white;
    background-color:  #406F8F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    border-style: solid;
    border-radius: 10px;
    border-style: dashed;
    border-color: bisque;
}

.odd{
    color: thistle;
    background-color: #406F8F;
    font-family: IBMPlexMono;     /* fetched from the downloaded fonts */
    font-size: 1em;

    border-bottom: 3px solid rgb(39, 173, 122);
    border-top: 3px solid rgb(65, 33, 139);
    border-left: 3px dotted rgb(95, 189, 37);
    border-right: 3px dotted rgb(63, 190, 163);
}

.even{
    color: rgb(101, 62, 169);
    font-family: "Alfa Slab One";     /* fetched from google fonts */

}

#p5{
    color: rgb(92, 18, 79);
    font-size: 100px;
    text-shadow: 2px 10px 2px red ,-2px -10px 2px rgb(67, 62, 209);     /* text-shadow: offset-x offset-y blur-radius color; */



}

#boxid{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    box-shadow: 20px 20px 4px ;
}

#p6{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    

}

#box1{
    background-color: rgb(143, 45, 45);
    margin-top: 50px;
    margin-left: auto;
}
#box2{
    background-color: aqua;
    margin-top: 40px;
    margin: auto;
}

#float1{
    margin: 20px;
    border: 3px solid;
    display: flow-root;
}

#img1{
    float: left;
    margin: 10px;

}
#img2{
    float: right;
    margin: 10px;

}

#overflow{
    border: 2px solid;
    height: 75px;
    overflow: auto;
}